* {
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif !important;
	box-sizing: border-box !important;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

html, body {
	height: 100%;
	width: 100%;
	background: #222;
	color: #eee;
	font-size: 14px;
}

/* Helpers */
.centered {
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p40 { padding: 40px; }

.p10-5 { padding: 5px 10px 5px 10px; }

.pl10 { padding-left: 10px; }

.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }

.mr10 { margin-bottom: 10px; }

.w50 { width: 50%; }
.w100 { width: 100%; }

.inline {
	display: inline-block;
}

.hr {
	height: 1px;
	width: 100%;
	background-color: rgba(256,256,256,0.2);
}

.bgaccent {
	background: #0ae;
}

.bggray {
	background-color: rgba(256,256,256,0.1);
}

.bggray2 {
	background-color: rgba(256,256,256,0.2);
}

.bgred {
	background-color: #f22;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* font */
h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-weight: bold;
}

h5 {
	font-style: italic;
}

/* inputs */
/* label */
label {
	font-size: 12px;
	display: block;
	padding: 2px 0 2px 0;
}

/* States */
button:active, input:focus, select:focus {
	background: rgba(256,256,256,0.0) !important;
}

button:hover, input:hover, select:hover {
	background: rgba(256,256,256,0.1) !important;
}

/* Select */
select {
	display: block;
	background: rgba(256,256,256,0.2);
	padding: 4px;
	max-width: 200px;
	width: 100%;
	border: 1px solid rgba(256,256,256,0.3);
	border-radius: 2px;
	color: #eee;
	font-size: 14px;
	outline: none;
}

/* Buttons */
button, input[type="button"] {
	text-align: center;
	display: block;
	background: rgba(256,256,256,0.2);
	padding: 4px;
	max-width: 200px;
	width: 100%;
	border: 1px solid rgba(256,256,256,0.3);
	border-radius: 2px;
	color: #eee;
	font-size: 14px;
	outline: none;
}

button.ebb {
	border: 0;
	border-radius: 0;
	height: 100%;
	display: inline-block;
}

/* Inputs */
input {
	text-align: left;
	display: block;
	background: rgba(256,256,256,0.2);
	padding: 4px;
	max-width: 200px;
	width: 100%;
	border: 1px solid rgba(256,256,256,0.3);
	border-radius: 2px;
	color: #eee;
	font-size: 14px;
	outline: none;
}

/* checkbox */
input[type="checkbox"] {
	width: auto !important;
}