#cont_left {
	height: 100%;
	min-width: 300px;
	max-width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#cont_right {
	width: calc(100% - 300px);
	height: 100%;
}

#cont_bottom {
	width: 100%;
	min-height: 250px;
}

#cont_edit {
	height: calc(100% - 250px);
	min-height: calc(100% - 250px);
	width: 100%;
}

#cont_inner {
	width: 100%;
	height: calc(100% - 50px);
}

#toolbar {
	width: 100%;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
}

#statusbar {
	width: 100%;
	height: 20px;
}

.framelist_section_header {
	cursor: pointer;
}

.board_led, .board_row_ccontainer, .board_col_ccontainer {
	padding: 5px;
	margin: 2px;
	display: inline-block;
}

.board_col_wrapper {
	padding-left: 35px;
}

.colorinputbutton {
	height: 5px;
	width: 5px;
	margin: 2px;
	border: 2px solid transparent;
}

#colorchooserpreview {
	border-radius: 50px;
	height: 100px;
	width: 100px;
	background: #fff;
}

#colorchooserlive {
	height: 200px;
	width: 100%;
}

#colorchooserpalette {
	height: 20px;
}

#colorchoosercmd {
	height: 30px;
}

#wrapper_board {
	overflow: auto;
	height: 100%;
	width: 100%;
	white-space: nowrap !important;
}

.colorchooserpalettecolor {
	height: 20px;
	width: 20px;
	display: inline-block;
}